<body>

  <div class="container">
    <div class="section">
      <h2> Hej! Fajnie, że jesteś! </h2>
      <h3> Dołącz do nas i zanurz się w świat pełen interesujących historii, wartościowych porad i inspirujących pomysłów.
        Odkrywaj, komentuj, dziel się swoimi przemyśleniami i baw się dobrze! Cieszymy się, że jesteś z nami :) </h3>
    </div>
  </div>
  
  </body>