<body>

  <div class="container">
    <div class="section">
      <h2>Jakiś ciekawy tekst i treść strony, może skróty postów czy coś</h2>
      <!-- Dodaj treść swojej strony tutaj -->
    </div>
  </div>
  
  </body>